
Sqlite3==3.43.1  # if you're using SQLAlchemy to manage your database
pytest==8.3.5 # for testing, if necessary
questionary==2.1.0 # for interactive command line interface
pytest-mock==3.14.0 # For mocking objects in pytest tests
